@media (min-width: 1024px){
  #first-slide{
    height: 100vh;
    #arrow-bottom{
      top: 260px;
    }
  }
  .slide:not(#first-slide){
    height: 100vh;
  }
  .portfolio-container{
    width: 25vw;
    height: 15vw;
  }
  .header{
    &:before{
      width: 100px;
    }
    &:after{
      width: 100px;
    }
  }
  nav{
    .fa{
      display: none;
    }
  }
  #me{
    top: 180px;
    width: 450px;
    span{
      font-size: 45px;
    }
    p{
      font-size: 34px;
    }
  }

}
@media (max-width: 1024px){

  #first-slide{
    min-height: 800px;
    #arrow-bottom{
      top: 110px;
    }
  }
  .slide:not(#first-slide){
    height: 135vh;
  }
  .portfolio-container{
    width: 250px;
    height: 160px;
  }
  .header{
    font-size: 18px;
    &:before{
      width: 60px;
    }
    &:after{
      width: 50px;
    }
  }
  #about{
    font-size: 12px;
  }
  nav{
    ul{
      display: none;
    }
  }
  #me{
    top: 80px;
    width: 98%;
    span{
      font-size: 33px;
    }
    p{
      font-size: 27px;
    }
  }

}

@media (max-width: 1024px) and (orientation: landscape){
  .portfolio-container{
    width: 45vw;
    height: 30vw;
  }

  #first-slide{
    height: 100vh;
  }
  .slide:not(#first-slide){
    height: 800px;
  }

}
